/*
Arquivo css para formatação do site da cafeteria
*/

/*
Aplicar a formatação a todos os elementos. Usaremos o 
asterisco(*)
*/
* {
  /* zerar as margens externas dos elementos*/
  margin: 0;
  /* zerar as margens internas dos elementos*/
  padding: 0;
  /* ajuste das caixas(box) dos elementos */
  box-sizing: border-box;
}

header {
  height: 300px; /* altura da caixa */
  /* Adicionar uma imagem ao fundo */
  background-image: url("../img/cafe20.jpg");
  /* ajustar a largura da imagem em 100% */
  background-size: 100%;
  /* ajustar a posição em x e y da imagem de fundo */
  background-position: 0 -570px;
  /* animação no fundo */
  transition: ease 1s;
  padding-top: 50px;
}
h1 {
  text-align: center; /* alinhamento do texto */
  font-family: "Lucida Sans unicode";
  color: white;
  /* aplicar uma sombra no texto */
  text-shadow: 10px 10px 7px #1c1c1c;
  font-size: 40px;
}

nav {
  background-color: #1c1c1c;
  text-align: center;
}

nav ul li {
  /* dispor os itens da lista(li) em linha */
  display: inline-block;
  /* aumentar a distância entre os elementos */
  padding: 10px;
  transition: ease 1s;
}
/* ao passar o mouse sobre o link o fundo link deve
alterar sua cor */
nav ul li:hover {
  background-color: lightgray;
}

nav ul li a {
  font-family: "Lucida Sans unicode";
  font-size: 13pt;
  color: white;
  /* retirar o underline do link */
  text-decoration: none; /*nenhum*/
}

footer {
  height: 280px; /*altura em 280px*/
  background-color: #1c1c1c;
  color: white;
  font-family: "jester";
  padding-top: 50px;
  /* dispor de forma flexível e em linha */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 20%;
}
#redes ul li {
  display: inline-block;
  margin-left: 32px;
}
#redes ul li a img {
  width: 50px;
  height: 50px;
}
/* -------------- Início do css da home -------------- */
h2 {
  font-family: "arial";
  font-size: 20pt;
  margin: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}

#home p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia;
  font-size: 12pt;
  line-height: 16pt;
  text-align: justify;
}

#imgHome {
  text-align: center;
}
#imgHome img {
  width: 620px;
  height: 620px;
  margin: 10px;
  border-radius: 100px;
  transition: ease 0.5s;
  /* mudar o ponteiro do mouse para uma mão */
  cursor: pointer;
}
#imgHome img:hover {
  transform: scale(1.05);
  opacity: 1;
  transition: ease 1s;
}
/* ---------------- Fim do estilo da home ---------------- */

/* ---------------- Início do estilo da história ---------------- */
#historia p {
  width: 70%;
  font-family: "Lucida Sans Unicode";
  font-size: 12pt;
  line-height: 18pt;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

#imgHistoria {
  text-align: center;
}
#imgHistoria img {
  width: 550px;
  height: 550px;
  margin: 20px;
  border-radius: 100px;
}
#imgHistoria img:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: ease 2s;
}
iframe {
  width: 97%;
  height: 300px;
  margin: 20px;
}
/* ------------ Fim do história ------------ */

/* ------------ Início do cardápio ------------ */
h3 {
  font-family: "Courier";
  font-size: 30pt;
  margin: 20px;
}
#linha {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* quebra de linha */
  box-shadow: 2px 2px 15px #1c1c1c;
  justify-content: center;
}
#linha div {
  width: 30%;
  margin: 10px;
  border: 1px solid silver;
}
#linha div img {
  width: 100%;
  height: 300px;
}
#linha div h4 {
  font-family: "Lucida Handwriting";
  font-size: 15pt;
  margin: 0.01px;
}
#linha div p {
  font-family: "Cambria";
  font-size: 16pt;
  color: #1c1c1c;
  margin: 2px;
}

/* ---------------------- Fim do Cardápio ---------------------- */

/* ---------------------- Formatação CSS para a página contato ----------------------*/
main form {
  width: 40%;
  padding: 10px;
  background-color: #1c1c1c;
  margin-left: auto;
  margin-right: auto;
}
main form input[type="text"],
main form input[type="email"],
main form input[type="tel"],
main form select,
main form textarea {
  background-color: silver;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 5px;
}
main form input[type="tel"] {
  width: 30%;
}
main form select {
  width: 20%;
  padding: 9px;
  cursor: pointer;
  color: #1c1c1c;
}
main form textarea {
  height: 100px;
  border: 1px solid silver;
  margin-bottom: 10px;
}
main form input[type="submit"] {
  padding: 10px;
  border: 0px;
  background-color: silver;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  color: #1c1c1c;
  margin-left: 90%;
}
/* ---------------------- Fim da Página Contato ---------------------- */

/* ---------------------- Início da localização ---------------------- */
#mapa iframe {
  width: 97%;
  height: 500px;
}

/* ---------------------- Área dos Breakpoints ---------------------- */

/* X-Small devices */
@media (min-width: 0px) and (max-width: 575px) {
  header {
    background-size: cover;
    background-position: 0;
  }
  nav {
    width: 150px;
    height: 100vh; /* altura da tela do dispositivo */
    position: absolute; /* definindo uma posição fixa na tela */
    z-index: 10000; /* empilhamento. Fazendo ficar acima de 9999 itens */
    top: 0px; /* posição inicial de topo 0 */
    left: -150px; /* posição inicial a esquerda 0 */
    padding-top: 200px;
  }
  nav ul li {
    display: block;
  }
  #imghome {
    text-align: center;
  }
  #imgHome img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    transition: ease 0.5s;
  }
  footer {
    flex-direction: column;
  }
  footer div {
    width: 80%;
    margin: auto;
  }
  body {
    background-color: #d84315;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-color: black;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: blueviolet;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: gray;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: yellow;
  }
}
